/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/Range/Range.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
/* Range.module.css */
.Range_sliderContainer__C_L66 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%; /* Set the width of the slider container */
  margin: 0 auto; /* Center the container horizontally */
}

.Range_value__38oW7 {
  width: 15%; /* Set the width of value1 and value2 to 15% of the total container width */
  text-align: center; /* Optional: center text inside the div */
}

.Range_slider__L5gKk {
  width: 70%; /* Set the width of the slider to 70% of the container */
  position: relative;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.Range_track__TBPQb {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #bbb;
  border-radius: 5px;
}

.Range_thumb__igrjj {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #ff5722;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: -webkit-grab;
  cursor: grab; /* Default cursor */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Range_thumb__igrjj:hover {
  transform: translate(-50%, -50%) scale(1.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Range_thumb__igrjj.Range_grabbing__cijrF {
  cursor: -webkit-grabbing;
  cursor: grabbing; /* Cursor changes when dragging */
}

